<?xml version="1.0" encoding="UTF-8"?>
<included>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="EXT_LOG_CONF" value="${APP_DIR}/conf/logback.xml"/>
    <include file="${EXT_LOG_CONF}"/>

    <logger name="mu.cibecs.common" level="INFO"/>
    <logger name="mu.cibecs.components" level="INFO"/>

    <!--THIRDPARTY-->
    <!--<logger name="org.springframework.security" level="DEBUG"/>-->
    <!--<logger name="org.springframework.data.mongodb" level="DEBUG"/>-->
    <!--<logger name="org.springframework.amqp.rabbit" level="DEBUG"/>-->
    <logger name="com.github.oxo42.stateless4j" level="WARN"/>
    <logger name="org.springframework.data.mongodb.core.index.MongoPersistentEntityIndexResolver" level="WARN"/>
    <logger name="org.springframework.cloud.config.client" level="ERROR"/>
    <logger name="com.netflix.discovery.shared.resolver" level="ERROR"/>

    <!--DEBUG-->
    <logger name="org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver" level="DEBUG"/>

    <appender name="ACCESS_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${APP_DIR:-${java.io.tmpdir:-/tmp}}/logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${APP_DIR:-${java.io.tmpdir:-/tmp}}/logs/access.%i.log</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="com.github.isrsal.logging.LoggingFilter" level="DEBUG" additivity="false">
        <appender-ref ref="ACCESS_FILE_APPENDER"/>
    </logger>

    <logger name="org.springframework.web.servlet.PageNotFound" level="WARN" additivity="false">
        <appender-ref ref="ACCESS_FILE_APPENDER"/>
    </logger>

    <logger name="org.springframework.web.servlet.mvc.method.annotation.ResponseEntityExceptionHandler" level="WARN" additivity="false">
        <appender-ref ref="ACCESS_FILE_APPENDER"/>
    </logger>

    <appender name="PORT_EVENTS_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%m</pattern>
        </encoder>
        <file>${APP_DIR:-${java.io.tmpdir:-/tmp}}/logs/events_incoming.csv</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${APP_DIR:-${java.io.tmpdir:-/tmp}}/logs/events_incoming.%i.csv</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="mu.cibecs.common.event.io.IOLoggingAspect" level="DEBUG" additivity="false">
        <appender-ref ref="PORT_EVENTS_FILE_APPENDER"/>
    </logger>


</included>

